<nav class="navbar navbar-expand-lg d-flex justify-content-center navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <h5><b><span class="custom-h5-grub">VEST</span>-IN</b></h5>
  </a>
</nav>

<div class="jumbotron">
  <h1 class="display-4">Welcome!</h1>
  <!-- <p class="lead">This is an investment application that is developed using MEAN Stack Application.</p>
  <hr class="my-4"> -->
  <!-- <p>This application is made for educational purposes only. </p> -->
  <a class="btn btn-primary btn-md" routerLink = "/Let's-get-started" role="button">Let's get started!</a>

</div>
