.custom-jumbotron{
background-image: url("../../../assets/images/crypto2.png");
background-repeat: no-repeat;
background-color: #1c6e8c;
background-size: 100% ;
background-position: center;
height: 67vh;
}

h1, p{
color: #fbfcff
}

.custom-h5-grub{
  font-size: 12pt;
}


