<mat-toolbar>
  <button mat-icon-button class="example-icon" (click)="reload()">
    <mat-icon>moving</mat-icon>
</button>
<span mat-button [routerLink]="['/Home-Search']">Crypto Vest-In</span>
  <span class="example-spacer"></span>
  <span *ngIf="loggedIn === true" class="welcome">Hi, {{firstName}}</span> &nbsp;
  <button mat-button class="login-icon favorite-icon" [routerLink]="['/']" *ngIf="loggedIn!=true">
    <mat-icon>person_outline</mat-icon>Login
  </button>
  <button mat-icon-button class="example-icon" *ngIf="loggedIn==true">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
